body {
    background-image: url("../backgrounds/wallhaven-0wypz7.jpg");
}

#register-form {
    height: 35em;
    width: 20em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#register-form-header {
    text-align: center;
    color: white;
}

#register-form-body {
    margin-top: 1em;
}

#signin-link {
    font-size: large;
    color: rgb(156, 210, 255);
}

.form-control {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(255, 255, 255) !important;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 4px;
    transition: all 0.3s ease 0s;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
}

.form-control:hover, .form-control:focus {
    box-shadow: none;
    background: transparent;
    outline: none;
    border-color: rgba(255, 255, 255, 0.4);
}

.form-control::placeholder {
    color: white;
}

#sign-up-button {
    background-color: rgb(37, 131, 255);
}

#sign-up-button:active {
    background-color: rgb(14, 118, 255);
    border-color: rgb(14, 118, 255);

    box-shadow: 0 0 10px rgba(33, 137, 255, 0.5);
}

.error-message {
    color: rgb(255, 60, 60);
}